<h1>Welcome to rock, paper, scissors</h1>
<h2>The rules are as follows:</h2>
<ol>
  <li>rock beats scissors</li>
  <li>scissors beats paper</li>
  <li>paper beats rock</li>
  <li>if both players play the same hand it ends in a draw</li>
  <li>rock, paper, and scissors are the only viable choice</li>
</ol>
<h3>Good luck, pick wisely player.</h3>
